
@{
    ViewBag.Title = "DeleteNotAviable";
}

<h2>Przykro nam </h2>

<h3>Istnieją kontrakty dotyczace tego zawodnika, nie moze on zostać usuniety</h3>






@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="form-actions no-color">
    @Html.ActionLink("Back to List", "Index")
  </div>
}

